*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #083b4c;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    color: white;
}
.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
   
}


.casella{
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    margin: 15px;
    border: 1px solid black;
    background-color: #0cd6a1;
}

