*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #083b4c;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 32px;
    margin: 30px;
    color: white;
}
.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
   
}


.casella{
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    margin: 15px;
    
    background-color: #1389b2;
}

.red__style{
    background-color: #f0466f;
}

.green__style{
    background-color: #0cd6a1;
}

.yellow__style{
    background-color: #ffd166;
}

